################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Module_1_Generics/LimitedSizeStack/obj
/Module_1_Generics/LimitedSizeStack/.vs/LimitedSizeStack/FileContentIndex
/Module_1_Generics/LimitedSizeStack/bin/Debug/net8.0
/Module_1_Generics/LimitedSizeStack/.vs/LimitedSizeStack/CopilotIndices/17.14.1091.29919
/Module_1_Generics/Clones/obj
/Module_1_Generics/LimitedSizeStack/.vs/LimitedSizeStack/DesignTimeBuild
/Module_1_Generics/LimitedSizeStack/.vs/LimitedSizeStack/v17
/Module_1_Generics/Clones/.vs/Clones
/Module_2_Yield_Return/Smooth/obj
/Module_2_Yield_Return/Smooth/.vs/yield-return-smooth
